body, html {
    margin: 0;
    padding: 0;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    background-color: #f0f2f5;
    height: 100%;
}

/* .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
}

.header-content {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.header-content img{
    width: 36px;
    margin-right: 8px;
}

.header-content input {
    height: 50%;
    width: 220px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
} */

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 360px; /* Adjusted width */
    background-color: white; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* position: fixed;  */
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}

.sidebar-container {
    padding: 5px;
}

.sidebar h1 {
    font-size: 24px;
    margin-top: 0;
}

.side-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
}

.img-house {
    background-color: #c6c8ce;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-house{
    background-color: #c6c8ce;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgs-house img{
    width: 30px;
}

.img-house img{
    width: 60px;
}

.side-content h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 800;
    margin-right: 20px;
}

.arrow{
    width: 25px;
    /* height: 25px; */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    height: 30px;
}

.sidebar ul li img{
    width: 20px;
}

/* .home{
    display: flex;
    align-items: center;
    background-color: #e4e6eb;
    
} */

.sidebar ul li:hover {
    background-color: #e4e6eb;
}

.Birthdays{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 8px;
    transition: 0.3s ease;
}


.Birthdays .imgs-house{
    margin-right: 15px;
    background-color: #1877F2;
}

.friend-request, .suggestions, .All-friends, .home, .Custom-lists{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.home .imgs-house,
.friend-request .imgs-house,
.suggestions .imgs-house, 
.All-friends .imgs-house,
.Custom-lists .imgs-house {
    margin-right: 15px;
}

.home span,
.friend-request span,
.suggestions span,
.All-friends span,
.Birthdays span,
.Custom-lists span {
    flex-grow: 1;
}

.friend-request .arrow, 
.suggestions .arrow, 
.All-friends .arrow, 
.Custom-lists .arrow {
    margin-left: auto; 
    padding-left: 15px; 
}

.home:hover, .friend-request:hover, .suggestions:hover, .All-friends:hover, .Birthdays:hover, .Custom-lists:hover{
    background-color: #f0f0f0; /* or any other hover color */
}


.main-content {
    padding: 20px;
    background-color: #f0f2f5;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    width: calc(100% - 360px);
    overflow-y: auto;
    /* margin-left: 360px; */
    display: flex;
    justify-content: center;
}

.friend-card {
    width: 100%;
    width: 500px;
}

.friend-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* display: flex;
    align-items: center; */
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.friend-photo {
    margin-right: 20px;
}

.friend-photo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.friend-info h3 {
    font-size: 16px;
    color: #050505;
    margin-bottom: 0;
    margin-top: 0;
}

.friend-info p {
    font-size: 15px;
    color: #050505;
    margin-top: 1px;
    margin-bottom: 15px;
    font-weight: 600;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.floating-button img {
    width: 24px;
    height: 24px;
}
