body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f0f2f5;
}

.sidebar {
    width: 360px;
    position: fixed;
    background-color: white;
    padding: 20px;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

.sidebar-container{
    position: fixed;
    padding: 0;
    margin: 0;
    width: 24%;
}

.sidebar-container i{
    color: #1877f2;
}

.sidebar h2 {
    margin-top: 0;
}

.create-page {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e7f3ff;
    border: 1px solid #1877f2;
    border: none;
    border-radius: 6px;
    text-align: center;
    color: #1877f2;
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 6px;
    background-color: #e7f3ff;
}

.sidebar ul li a:hover {
    background-color: #d0e7ff;
}

.content {
    margin-left: 450px;
    width: calc(100% - 360px);
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.card-container {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    /* padding: 15px; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5px;
}

.card img {
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 6px 6px 0px 0px;
    /* margin-bottom: 10px; */
}

.card h4 {
    margin: 10px 0 5px;
}

.card p {
    margin: 5px 0;
    color: #606770;
    font-size: 12px;
}

.like-button {
    background-color: #1877f2;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 38px;
    cursor: pointer;
    color: white;
}

.close-button:hover {
    color: #1877f2;
}

.card-container {
    margin-top: 20px;
}

.img-house {
    background-color: #e4e6eb;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.imgs-house {
    background-color: #e4e6eb;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px 3px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 0;
}

.line{
    border-bottom: 1px solid #d0cccc;
    margin-bottom: 10px;
}

.sidebar li h3{
    font-size: 16px;
    font-weight: 600;
}

.sidebar ul li:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.side-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    margin: 0;
    vertical-align: middle;
    margin-bottom: 15px;
}

.sidebar h1 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.create-page:hover{
    background-color: #b5b5b5;
}

.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.floating-button img {
    width: 24px;
    height: 24px;
}

.discover{
    background-color: #f0f0f0;
    border-radius: 10px;
}

.img-houses{
    background-color: #1877F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.cards-container{
    display: block;
    width: 100%;
}

.card-cont{
    display: flex;
    justify-content: center;
    margin: 0px 15px 15px 15px;
}

.cards-cont{
    display: flex;
    align-items: center;
}

.cards-cont img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    /* vertical-align: middle; */
}

.suggestion-item{
    display: none;
}

.mobile-header{
    display: none;
}

@media (max-width: 1300px) {
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }

    .sidebar{
        width: 100%;
        margin: 0;
        padding: 0;
        
    }

    .sidebar-container{
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .content, .side-content, .line, .create-page{
        display: none;
    }

    .sidebar ul{
        display: none;
    }

    .suggestion-item{
        text-align: left;
        padding: 10px;
        width: 100%;
        display: flex;
    }

    .suggestion-container{
        width: 100%;
    }
    
    .suggestion-item img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin-right: 15px;
    }
    
    .suggestion-info {
        /* flex-grow: 1; */
        width: 100%;
    }
    
    .suggestion-info p {
        margin: 0;
        /* font-weight: bold; */
        color: #1c1e21;
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .suggestion-info span {
        font-size: 12px;
        color: #606770;
    }
    
    .actions {
        display: flex;
        gap: 5px;
        width: 95%;
    }
    
    .add-friend, .remove {
        /* width: 135px; */
        /* padding: 5px 10px; */
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
        height: 30px;
        font-weight: 600;
        width: 80%;
    }
    
    .add-friend {
        background-color: #1877F2;
        color: white;
        border: none;
        margin-right: 5px;
    }
    
    .remove {
        background-color: #e4e6eb;
        color: #1c1e21;
        border: none;
        margin: 0;
    }

    .card-container{
        overflow-y: scroll;
    }

    .mobile-header {
        display: block;
        background-color: #fff;
        /* padding: 10px; */
        width: 100%;
        margin-top: 20px;
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    }
    
    .nav-bar {
        display: flex;
        margin-bottom: 10px;
        padding-left: 10px;
        padding-bottom: 20px;
        border-bottom: 2px solid #d1d0d0;
    }

    .nav-bars{
        display: flex;
        justify-content: space-around;
        margin-bottom: 10px;
        height: 30px;
    }
    
    .nav-item {
        font-size: 16px;
        color: #555;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .nav-item.active {
        color: #1877f2;
        border-bottom: 2px solid #1877f2;
        padding-bottom: 30px;
    }
    
    .search-bar {
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        padding: 10px;
    }
    
    .search-bar input {
        width: 95%;
        padding: 10px;
        /* border-radius: 20px; */
        border: 3px solid #ccc;
        font-size: 14px;
    }

    .back-arrow {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .back-arrow img {
        width: 20px;
        height: 20px;
        margin-right: 18px;
        vertical-align: middle;
    }

    .back-arrow p{
        vertical-align: middle;
        font-weight: 600;
    }

    .pages-title {
        display: inline-block;
        font-size: 18px;
        font-weight: bold;
        margin-left: 10px;
        vertical-align: middle;
    }
}